[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
httpx = "*"
utils = {file = "utils", editable = true}
flask = "*"

[dev-packages]

[requires]
python_version = "3.12"
